#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
}

#buy-sell-chart {
    display: block;
    width: 100%;
}

#buy-sell-chart .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 50px;
}

#buy-sell-chart .row span {
    flex-basis: 12.5%;
    text-align: center;
}