<div id="buy-sell-chart">
    <div class="row head">
        <span class="name">Name</span>
        <span class="market-cap" onclick="sortBy('market_cap', this.dataset.order, window.data); this.dataset.order= this.dataset.order === 'desc' ? 'asc' : 'desc'; return void(0);" data-order="asc">Market Cap</span>
        <span class="price" data-order="asc">Price</span>
        <span class="cir-supp" onclick="sortBy('circulating_supply', this.dataset.order, window.data); this.dataset.order= this.dataset.order === 'desc' ? 'asc' : 'desc'; return void(0);" data-order="asc">Circulating Supply</span>
        <span class="vol">Volume (24h)</span>
        <span class="p-hour">% (1h)</span>
        <span class="p-day">% (1d)</span>
        <span class="p-week">% (1w)</span>
    </div>
</div>